name: Main
on:
  push:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      - name: Install Robot
        run: npm install robotjs
      - name: Install dependencies
        run: npm install
      - name: Run test
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Deploy to heroku
        uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: "4b54e3f1-73c5-43bb-9c73-e96e6535af57"
          heroku_app_name: "robot-app-stack"
          heroku_email: "narinb.stacksum@gmail.com"